@model IEnumerable<ExamSys.Database.dbEntities.Session_Courses>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
    var db = new ExamSys.Database.ExamDB();
    var Tools = new ExamSys.Logics.Models.Tools();
}
<h1>Session Courses</h1>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Session)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edited_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Session)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @db.Departments.Single(m=>m.id == item.Department).FullName
        </td>
        <td>
            @db.Faculties.Single(m => m.id == item.Faculty).UserName
        </td>
        <td>
            @db.Courses.Single(m => m.id == item.Course).Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edited_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
