
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudentDashboard.cshtml";
    var db = new ExamSys.Database.ExamDB();
    var stuRollno = HttpContext.Current.User.Identity.Name;
    var student = db.Students.SingleOrDefault(m => m.Roll_No == stuRollno);
    var department = db.Departments.SingleOrDefault(m=>m.id == student.Department);
    var status = db.Statuses.SingleOrDefault(m => m.id == student.Status);
    var designation = db.Designations.SingleOrDefault(m => m.id == student.Designation);
}

<h2>Student Profile</h2>

<table class="table table-bordered" style="width:500px;margin:50px;">
    <tr>
        <td>Name</td>
        <td> @student.First_Name @student.Last_Name </td>
    </tr>
    <tr>
        <td>Roll No</td>
        <td> @student.Roll_No</td>
    </tr>
    <tr>
        <td>Department</td>
        <td> @department.FullName </td>
    </tr>
    <tr>
        <td>Semester</td>
        <td>@student.Semester</td>
    </tr>
    <tr>
        <td>Session</td>
        <td>@student.Session</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@student.Email</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@student.Password</td>
    </tr>
    <tr>
        <td>Registration #</td>
        <td>@student.RegistrationNO</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td>@designation.Title</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@student.Gender</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@student.Gender</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@status.Title</td>
    </tr>
    <tr>
        <td>Comment</td>
        <td>@student.Comment</td>
    </tr>

</table>